div.amigos{
    /* padding: 16px 0; */

    display: flex;
    flex-direction: column;
    gap: 28px;
}

.profile_all{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 24px;
    border-radius: var(--border-radius);
}
.profile_group{
    display: flex;
    flex-direction: row;
    gap: 8px;
    align-items: center;
}
.image_profile img{
    width: 48px;
    height: 48px;
    border-radius: var(--border-radius);
    overflow: hidden;
}
.botao_p{
    background-image: url("../icon/components/User-more.png");
    width: 32px;
    height: 32px;
    background-position: center;
    background-repeat: no-repeat;
}
.name_art{
    display: flex;
    flex-direction: column;
}

h2.l-friends{
    font-size: 23px;
    margin-top: 16px;
    text-align: center;
}
h6.f-name{ /*Reutilizado nos posts*/
    font-size: 19px;
    font-weight: 700;
}
.p-status{ /*Reutilizado nos posts*/
    font-size: 12px;
    font-weight: 500;
    color: #4d4d4d;
}

/* || section Em alta */
.em-alta{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 24px;
    padding: 0 16px;
    border-radius: var(--border-radius);
    padding-bottom: 16px;
}
.article-font{
    font-size: 16px;
    font-weight: 600;
}
.article-p{
    font-size: 12px;
    font-weight: 500;
    color: #4d4d4d;
}
.padd{
    padding: 0 16px;
    width: 90%;
    margin-bottom: 16px;
}