/* || Aside esquerda */
.aside-esquerda{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;

    min-width: 200px;
    /* max-height: 850px; */
    height: fit-content;
    border-radius: var(--border-radios);
    overflow: hidden;
}
.back-img{ /*Background perfil*/
    width: 100%;
    height: 100px;
    background-color: #949281;
    background-image: url("../img/img-scrol/bkg2.jpg.webp");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
.profile-img-master{ /*Foto perfil*/
    position: relative;
    bottom: 50px;
    background-color: var(--color-bkg-yellow);
    border: var(--color-bkg-orange) 2px solid;
    width: 128px;/*Tamanho controlado no html, pra evitar ghost reload*/
    height: 128px;
    border-radius: 10px;
    z-index: 0;
    /* margin-left: 50px; */
}