
/* || Aside esquerda */
main div.aside-esquerda{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;

    min-width: 200px;
    /* max-height: 850px; */
    height: fit-content;
    border-radius: var(--border-radius);
    overflow: hidden;

}
.back-img{ /*Background perfil*/
    width: 100%;
    height: 100px;
    background-color: #949281;
    background-image: url("../img/img-scrol/bkg2.jpg.webp");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
.profile-img-master{ /*Foto perfil*/
    position: relative;
    bottom: 50px;
    background-color: var(--color-amarelo);
    border: var(--color-vermelho-claro) 2px solid;
    width: 128px;/*Tamanho controlado no html, pra evitar ghost reload*/
    height: 128px;
    border-radius: var(--border-radius);
    z-index: 0;
    /* left: 33.33%; */
}

h1.name{
    margin-top: -33px;
    font-size: 28px;
    font-weight: 700;
}
p.name{ /*Reutilizado na main, posts*/
    font-size: 16px;
    font-weight: 400;
}
.staus-p-sub{
    font-size: 16px;
    font-weight: 400;
    color: #4d4d4d;
    padding: 32px 16px;
    text-align: center;
}
.subs{
    width: 80%;
    height: 69px;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 24px;
}
.status{
    background-color: var(--color-amarelo-claro);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 68px;
    flex: 1;
    border-radius: 10px;
}
.status-p{
    font-size: 23px;
    font-weight: 700;
    color: var(--color-cinza-escuro);
}
.status-p-sub{
    color: var(--color-cinza-escuro);
}

hr.style {
    width: 90%;
    margin: 24px 0;
    border-style: inset;
    /* border-width: 1px; */
    border: var(--color-vermelho-claro) 1px solid;
}

.config{
    display: flex;
    flex-direction: column;
    width: 80%;
    gap: 8px;
    margin-bottom: 25px;
}
.config_box{
    /* height: 48px; */
    display: flex;
    gap: 8px;
    background-color: var(--color-cinza-claro);
    height: 48px;
    border-radius: var(--border-radius);
    align-items: center;
    padding-left: 26px;
    transition: all .5s;
}

.config_box:hover{
    background-color: var(--color-amarelo-claro);
    transition: all .5s;
    cursor: pointer;
}
