/* || DarkMode Sistem */
@media (prefers-color-scheme: dark) {
    html, body { 
      /* color: var(--color-news-cyberblue); */
      background: var(--color-preto);
    }
    .nav{
        background-color: var(--color-roxo-escuro);
        box-shadow: 0px 8px 12px var(--color-amarelo);
    }
    .icone{
        background-color: var(--color-amarelo);
    }
    .site-nome{
        color: var(--color-amarelo);
    }
    .notificacao{
        background-color: var(--color-magenta-neon);
    }
}