@import url("./reset.css");
@import url("./grid.css");
@import url("./nav.css");
@import url("./variaveis.css");
@import url("./rolagem.css");
@import url("./darkmod.css");

@import url('https://fonts.googleapis.com/css2?family=Anton&display=swap');
@import url("../fontes/Chivo_Mono/ChivoMono-VariableFont_wght.ttf");

html, body{
    scroll-behavior: smooth;
    font-family: 'Chivo Mono', monospace;
}

body{
    margin: 0;
    position: relative;
}

.bac{
    background-color: var(--color-cinza-claro);
}

.perfil{
    background-color: var(--color-branco);
}
.main{
    background-color: var(--color-branco);
}
.amigos{
    background-color: var(--color-branco);
}

.parecidos, .perfil{
    display: none;
}

@media screen and (min-width: 768px){
    .perfil{
        display: initial;
    }
}
@media screen and (min-width: 992px){
    .parecidos{
        display: initial;
    }
}

.img-top{ /* Botao de subir ao topo */
    position: fixed;
    right: 40px;
    bottom: 24px;
}